#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log

## Ingore java class or jar files
*.class
*.jar

[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

contbak/*
public/*
serve/*
demo/
playground/*

## public
public/*
!/public/.gitkeep

# Mac
*.DS_Store

# Theme
themes/*

# sample
archived/sample/**/*.txt
archived/sample/**/*.csv
archived/sample/**/*.json
archived/sample/**/*.xls
archived/sample/**/*.xlsx
archived/sample/**/*.doc
archived/sample/**/*.docx

# Vs code setting
*.vscode/

# Ignroe tutorial section
*tut/
